<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />      
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <appSettings>
    <add key="IBusinessClient" value="TerpFarm.Services.BusinessClientSvc.BusinessClientImpl" />
    <add key="IInterpreter" value="TerpFarm.Services.InterpreterSvc.InterpreterImpl" />
    <add key="IDeafClient" value="TerpFarm.Services.DeafClientSvc.DeafClientImpl" />
  </appSettings>
  
    <connectionStrings>
      <add name="TerpFarmDB" connectionString="Data Source=RUBINS\SQLEXPRESS;Initial Catalog=TerpFarm;Integrated Security=true"/>
    </connectionStrings>  

</configuration>
